body {
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 20px;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
}

.login-form {
    display: flex;
    margin-left: 40%;
    margin-top: 50%;
}
input, label {
    margin: 15px;
}

button {
    margin: 10px;
}